<!-- Start Banner 
============================================= -->
<div class="banner-area top-pad-60-responsive border-shadow text-center content-less text-large">
    <div id="bootcarousel" class="carousel text-light slide carousel-fade animate_text" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-zoom">
            <div class="carousel-item active">
                <div class="slider-thumb bg-cover" style="background-image: url(assets/img/video/anime-world-1.jpg);"></div>
                <div class="box-table">
                    <div class="box-cell shadow dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="content">
                                        <h2 data-animation="animated slideInRight">Creating a better <strong>IT solutions</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider-thumb bg-cover" style="background-image: url(assets/img/video/anime-world-2.jpg);"></div>
                <div class="box-table">
                    <div class="box-cell shadow dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="content">
                                        <h2 data-animation="animated slideInRight">Creating a better <strong>IT solutions</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider-thumb bg-cover" style="background-image: url(assets/img/video/anime-world-3.jpg);"></div>
                <div class="box-table">
                    <div class="box-cell shadow dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="content">
                                        <h2 data-animation="animated slideInRight">Creating a better <strong>IT solutions</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider-thumb bg-cover" style="background-image: url(assets/img/video/anime-world-4.jpg);"></div>
                <div class="box-table">
                    <div class="box-cell shadow dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="content">
                                        <h2 data-animation="animated slideInRight">Creating a better <strong>IT solutions</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider-thumb bg-cover" style="background-image: url(assets/img/video/anime-world-5.jpg);"></div>
                <div class="box-table">
                    <div class="box-cell shadow dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="content">
                                        <h2 data-animation="animated slideInRight">Creating a better <strong>IT solutions</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Wrapper for slides -->

        <!-- Left and right controls -->
        <a class="left carousel-control light" href="#bootcarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control light" href="#bootcarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>
<!-- End Banner -->

<!-- Start Services 
============================================= -->
<div class="services-area default-padding bg-cover">
    <div class="container">
        <div class="services-tabs">
            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#tab1" data-toggle="tab" class="active nav-link">Analytic Solutions</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#tab2" data-toggle="tab" class="nav-link">Risk Management</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#tab3" data-toggle="tab" class="nav-link">IT Management</a>
                </li>
            </ul>
            <div id="tabsContent" class="tab-content wow fadeInUp" data-wow-delay="0.5s">
                <div id="tab1" class="tab-pane fade active show">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 thumb" style="background-image: url(assets/img/thumb/analytic-solutions.jpg);"></div>
                        <div class="col-lg-7 col-md-12 info">
                            <div class="content">
                                <i class="flaticon-analytics"></i>
                                <h2>Empowering Global Insights with Advanced Analytics</h2>
                                <p>
                                    Explore profound insights through advanced analytics. Harness the transformative potential of data-driven decisions, blending precision with innovation. Our solutions optimize performance, providing unparalleled clarity and strategic advantage in today's dynamic landscape.
                                </p>
                                <ul>
                                    <li>Unlock actionable insights with cutting-edge analytics</li>
                                    <li>Enhance decision-making with comprehensive data visualization</li>
                                    <li>Drive innovation and efficiency with advanced analytics tools</li>
                                </ul>
                                <a routerLink="/contact" class="btn-more">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 thumb" style="background-image: url(assets/img/thumb/risk-management.jpg);"></div>
                        <div class="col-lg-7 col-md-12 info">
                            <div class="content">
                                <i class="flaticon-reduction"></i>
                                <h2>Optimizing Business Resilience Through Strategic Risk Management</h2>
                                <p>
                                    Embrace proactive risk management strategies to navigate uncertainties effectively. We empower organizations to mitigate risks and seize opportunities with confidence. Our tailored solutions ensure resilience and safeguard your business from potential challenges.
                                </p>
                                <ul>
                                    <li>Implement proactive risk assessment and mitigation plans</li>
                                    <li>Enhance resilience through strategic risk management frameworks</li>
                                    <li>Drive informed decisions with comprehensive risk analysis</li>
                                </ul>
                                <a routerLink="/contact" class="btn-more">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 thumb" style="background-image: url(assets/img/thumb/it-management.jpg);"></div>
                        <div class="col-lg-7 col-md-12 info">
                            <div class="content">
                                <i class="flaticon-globe-grid"></i>
                                <h2>Elevating Business Efficiency Through Expert IT Management</h2>
                                <p>
                                    Discover the transformative power of expert IT management. We specialize in optimizing business operations through strategic technology solutions. Our approach enhances efficiency, drives innovation, and empowers informed decision-making for sustained growth and competitive advantage.
                                </p>
                                <ul>
                                    <li>Implement cutting-edge IT strategies for optimal performance</li>
                                    <li>Enhance operational efficiency with innovative technology solutions</li>
                                    <li>Drive business growth through strategic IT investments</li>
                                </ul>
                                <a routerLink="/contact" class="btn-more">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services Area -->

<!-- Start Choose Us
============================================= -->
<div id="about" class="choose-us-style-ten-area default-padding-bottom">
    <!-- Fixed Shape  -->
    <div class="fixed-shape-right-bottom" style="background-image: url(assets/img/software/page-header-bg.svg);"></div>
    <!-- End Fixed Shape  -->
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6 choose-us-style-ten-item">
                <div class="thumb">
                    <img src="assets/img/software/11.png" alt="Software">
                </div>
            </div>
            <div class="col-lg-6 choose-us-style-ten-item">
                <h2>Driving Innovation Through Advanced Solutions</h2>
                <p>
                    Innovation is central to our approach. We integrate robust tools, cutting-edge technologies, and proven processes to deliver innovative solutions. Our deep industry knowledge and a culture of creativity, experimentation, and risk-taking enable us to meet our clients' evolving needs effectively.
                </p>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fas fa-chart-network"></i>
                        </div>
                        <div class="content">
                            <h4>Advanced Analytics</h4>
                            <p>
                                We empower businesses by harnessing data-driven insights to drive strategic decisions and optimize performance.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-user-clock"></i>
                        </div>
                        <div class="content">
                            <h4>Real-Time Metrics</h4>
                            <p>
                                Utilize real-time metrics to monitor and enhance operational efficiency and customer satisfaction.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- End Choose Us -->

<!-- Start Who We Area 
============================================= -->
<div class="who-we-area-area bg-dark text-light">
    <div class="container-fluid">
        <div class="who-we-area-box">
            <div class="row">
                <div class="col-lg-6 thumb bg-cover" style="background-image: url(assets/img/thumb/stay-informed.jpg);"></div>
                <div class="col-lg-6 info">
                    <div class="row">
                        <div class="col-lg-12 contact-form-box insights-padding">
                            <div class="content">
                                <div class="heading">
                                    <h2>Stay Informed</h2>
                                    <p>Register for our email newsletter to receive the latest insights directly in your inbox.</p>
                                </div>
                                <form action="assets/mail/contact.php" method="POST" class="contact-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="form-control" id="submit-insights" name="email" placeholder="Email*" type="email">
                                                <span class="alert-error"></span>
                                            </div>
                                        </div>
                                    </div>
 
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="submit" name="submit" class="btn circle btn-light effect btn-sm">
                                                Register
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Alert Message -->
                                    <div class="col-md-12 alert-notification">
                                        <div id="message" class="alert-msg"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Who We Area Area -->

<!-- Start Features Area 
============================================= -->
<div class="feature-area overflow-hidden default-padding">
    <div class="container">
        <div class="heading-left">
            <div class="row">
                <div class="col-lg-6">
                    <!-- <h5>What's the latest buzz?</h5> -->
                    <h2>
                        What's the latest buzz?
                    </h2>
                </div>
                <div class="col-lg-6">
                    <p>
                        Stay ahead of the curve with insights into what's making headlines and capturing attention across various spheres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="features-box text-light">
            <div class="row">
                <!-- Single Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <img src="assets/img/temp/temp-1.jpg" alt="Thumb" class="insights-img">
                        <div class="overlay">
                            <div class="info">
                                <h4>Custom Software</h4>
                                <a href="#"><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <img src="assets/img/temp/temp-2.jpg" alt="Thumb" class="insights-img">
                        <div class="overlay">
                            <div class="info">
                                <h4>Product Design</h4>
                                <a href="#"><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <img src="assets/img/temp/temp-3.jpg" alt="Thumb" class="insights-img">
                        <div class="overlay">
                            <div class="info">
                                <h4>Outsourcing</h4>
                                <a href="#"><i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Features Area -->