    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <h2>Press releases</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area full-blog blog-standard full-blog default-padding">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content col-lg-10 offset-lg-1 col-md-12">
                        <div class="blog-item-box">
                            <!-- Single Item -->
                            <div class="single-item">
                                <div class="item wow fadeInUp">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/1500x700.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="cats">
                                            <a href="#">Technology</a>
                                        </div>
                                        <div class="meta">
                                            <ul>
                                                <li><i class="fas fa-calendar-alt"></i> {{pressReleases[0].publishedAt | date: "dd  MMM, yyyy"}} 12 Aug, 2020</li>
                                                <li><i class="fas fa-user"></i> By <a href="#">{{pressReleases[0].publishedAt}}</a></li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">{{pressReleases[0].title}}</a>
                                        </h4>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme effect btn-md" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="single-item">
                                <div class="item wow fadeInUp">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/1500x700.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="cats">
                                            <a href="#">Security</a>
                                        </div>
                                        <div class="meta">
                                            <ul>
                                                <li><i class="fas fa-calendar-alt"></i> 12 Aug, 2020</li>
                                                <li><i class="fas fa-user"></i> By <a href="#">John Botha</a></li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Unsatiable entreaties may collecting Power.</a>
                                        </h4>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme effect btn-md" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="single-item">
                                <div class="item wow fadeInUp">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/img/1500x700.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="cats">
                                            <a href="#">Firewall</a>
                                        </div>
                                        <div class="meta">
                                            <ul>
                                                <li><i class="fas fa-calendar-alt"></i> 12 Aug, 2020</li>
                                                <li><i class="fas fa-user"></i> By <a href="#">John Botha</a></li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Consulted admitting is power acuteness.</a>
                                        </h4>
                                        <p>
                                            Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected. Incommode so intention defective at convinced. Led income months itself and houses you
                                        </p>
                                        <a class="btn circle btn-theme effect btn-md" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-md-12 pagi-area text-center">
                                <nav aria-label="navigation">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->