.dropdown {
  -webkit-transition: none !important;
  transition: none !important;
}

.dropdown-menu {
  display: none;
  -webkit-transition: none !important;
  transition: none !important;
  /* opacity: 1 !important; */
}

.dropdown-menu.show {
  display: block;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

#navbar-menu  ul.nav > li > a {
  text-transform: capitalize !important;
}