    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default active-border navbar-sticky bootsnav">

            <div class="container">

                <!-- Start Atribute Navigation -->
                <!-- <div class="attr-nav inc-border">
                    <ul>
                        <li class="contact">
                            <i class="flaticon-telephone"></i> 
                            <p>Call us today! <strong>+123 456 7890</strong></p>
                        </li>
                    </ul>
                </div>         -->
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-brand">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center">   <!-- data-in="fadeInDown"  data-out="fadeOutUp"-->
                        <li>
                            <a routerLink="/insights" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Insights</a>
                        </li>
                        <li class="dropdown" (mouseover)="toggleDropdown(true, 'servicesDropdown')" (mouseout)="toggleDropdown(false, 'servicesDropdown')">
                            <a routerLink="/" [class.active]="isservicesLinkOpen" class="nav-link dropdown-toggle" id="servicesDropdown" role="button" aria-expanded="false">Services</a>
                            <ul class="dropdown-menu" aria-labelledby="servicesDropdown" [class.show]="isservicesDropdownOpen" style="opacity: 1">
                                <li><a routerLink="/data-analytics" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Data &amp; Analytics</a></li>
                                <li><a routerLink="/storage-cloud" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Storage &amp; Cloud</a></li>
                                <li><a routerLink="/intelligent-automation" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Intelligent Automation</a></li>
                                <li><a routerLink="/artificial-intelligence" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Artificial Intelligence</a></li>
                                <li><a routerLink="/cyber-security" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Cyber Security</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" (mouseover)="toggleDropdown(true, 'companyDropdown')" (mouseout)="toggleDropdown(false, 'companyDropdown')">
                            <a routerLink="/" [class.active]="iscompanyLinkOpen" class="dropdown-toggle" id="companyDropdown" role="button" aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu" aria-labelledby="companyDropdown" [class.show]="iscompanyDropdownOpen" style="opacity: 1">
                                <li><a routerLink="/about-company" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">About Company</a></li>
                                <li><a routerLink="/why-choose-us" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Why Choose us</a></li>
                                <li><a routerLink="/meet-our-team" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Meet Our Team</a></li>
                                <li><a routerLink="/get-in-touch" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Get in Touch</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" (mouseover)="toggleDropdown(true, 'newsDropdown')" (mouseout)="toggleDropdown(false, 'newsDropdown')">
                            <a routerLink="/" [class.active]="isnewsLinkOpen" class="dropdown-toggle" id="newsDropdown" role="button" aria-expanded="false">News</a>
                            <ul class="dropdown-menu" aria-labelledby="newsDropdown" [class.show]="isnewsDropdownOpen" style="opacity: 1">
                                <li><a routerLink="/press-releases" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Press releases</a></li>
                                <li><a routerLink="/corporate-social-responsibility" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Corporate Social Responsibility</a></li>
                                <li><a routerLink="/social-media" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Social media</a></li>
                                <li><a routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-toggle">Events</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/careers" routerLinkActive="active">Careers</a>
                        </li>
                        <li>
                            <a routerLink="/contact" routerLinkActive="active">Contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->