<!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="assets/img/map.svg" alt="Shape">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item about">
                            <img src="assets/img/cetosoft-horizontal.png" alt="Logo">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li><a routerLink="/data-analytics">Data &amp; Analytics</a></li>
                                <li><a routerLink="/cloud">Cloud Computing</a></li>
                                <li><a routerLink="/intelligent-automation">Intelligent Automation</a></li>
                                <li><a routerLink="/artificial-intelligence">Artificial Intelligence</a></li>
                                <li><a routerLink="/cyber-security">Cyber Security</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">News</h4>
                            <ul>
                                <li><a routerLink="/press-releases">Press releases</a></li>
                                <li><a routerLink="/corporate-social-responsibility">Corporate Social Responsibility</a></li>
                                <li><a routerLink="/social-media">Social media</a></li>
                                <li><a routerLink="/events">Events</a></li>
                                <li><a routerLink="/explore">Explore</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Address:</strong>
                                        Flat No- B405, Block B, Mahendra Abasan, Naipukur, West Bengal-700135
                                    </li>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:{{ 'support@cetosoft.com' }}">{{ 'support@cetosoft.com' }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p>Copyright &copy; 2024. Designed by <a href="#">Cetosoft Infotech Pvt. Ltd.</a></p>
                    </div>
                    <!-- <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#"><img src="assets/img/svg/linkedin-in.svg" alt="" srcset=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/svg/x-twitter.svg" alt="" srcset=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/svg/youtube.svg" alt="" srcset=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/svg/facebook.svg" alt="" srcset=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/img/svg/instagram.svg" alt="" srcset=""></a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="col-lg-6 col-md-6">
					
                        <ul class="social-icn-ul base-footer-pad-MV">
                            
                            <li class="social-icn-ul-list">
                                <a class="social-icn-item" href="https://www.facebook.com/" target="_blank">
                                    <img class="social-icn-item-icon" alt="Facebook" src="assets/img/svg/facebook.svg">
                                    <span class="sr-only">Open in New Tab Facebook</span>
                                </a>
                            </li>
                    
                            <li class="social-icn-ul-list">
                                <a class="social-icn-item" href="https://www.youtube.com/" target="_blank">
                                    <img class="social-icn-item-icon" alt="Youtube" src="assets/img/svg/youtube.svg">
                                    <span class="sr-only">Open in New Tab Youtube</span>
                                </a>
                            </li>
                    
                            <li class="social-icn-ul-list">
                                <a class="social-icn-item" href="https://twitter.com/" target="_blank">
                                    <img class="social-icn-item-icon" alt="Twitter" src="assets/img/svg/x-twitter.svg">
                                    <span class="sr-only">Open in New Tab Twitter</span>
                                </a>
                            </li>
                    
                            <li class="social-icn-ul-list">
                                <a class="social-icn-item" href="https://www.instagram.com/" target="_blank">
                                    <img class="social-icn-item-icon" alt="Instagram" src="assets/img/svg/instagram.svg">
                                    <span class="sr-only">Open in New Tab Instagram</span>
                                </a>
                            </li>
                    
                            <li class="social-icn-ul-list">
                                <a class="social-icn-item" href="https://www.linkedin.com/" target="_blank">
                                    <img class="social-icn-item-icon" alt="linkedin" src="assets/img/svg/linkedin-in.svg">
                                    <span class="sr-only">Open in New Tab linkedin</span>
                                </a>
                            </li>
                        </ul>   
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->