.social-icn-ul {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: end;
    margin-bottom: 0;
}

.social-icn-ul .social-icn-ul-list {
    list-style: none;
    margin-left: 35px;
}

.social-icn-ul .social-icn-ul-list .social-icn-item .social-icn-item-icon {
    height: 20px;
    width: 20px;
}

.social-icn-ul-list .social-icn-item img {
    max-width: fit-content;
}