<!-- Start Breadcrumb 
============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/background/career.jpg);">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <h2>Careers</h2>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Faq 
============================================= -->
<div class="faq-area default-padding bg-gray">
    <div class="container">
        <div class="testimonial-items">
            <div class="row">

                <div class="col-lg-7 info">
                    <h2>Our efforts shape the present <br> and build the foundation <br> for a brighter tomorrow.</h2>
                    <a class="btn btn-theme effect btn-md">Explore Jobs</a>
                </div>

                <div class="col-lg-5">
                    <div class="faq-content">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h4 class="mb-0">
                                            <strong><i class="fa fa-circle" aria-hidden="true" style="font-size: 12px;"></i></strong> Our Commitment
                                    </h4>
                                </div>

                                <div id="collapseOne">
                                    <div class="card-body">
                                        <p>
                                            Continue building numerous relationships with a focus on excellence. Engage actively and make a difference. Achieve your full potential with us.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Faq Area -->


<!-- Start Who We Area 
============================================= -->
<div class="who-we-area-area">
    <div class="container-fluid">
        <div class="who-we-area-box">
            <div class="row">
                <div class="col-lg-6 info">
                    <div class="row" style="margin-left: 160px;">
                        <div class="col-lg-12 col-md-12 item">
                            <h4>We Promote a Culture of Learning and Personal Growth</h4>
                            <p>
                                Every employee benefits from a customized development plan that includes activities, initiatives, and programs designed to enhance their skills and capabilities. As our company grows rapidly, these plans remain flexible to adapt to changing business landscapes, ensuring our workforce stays at the forefront of technology and innovation with Ability, Aspiration, and Commitment.
                            </p>
                            <a class="btn btn-theme effect btn-md">Know More <i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 thumb bg-cover" style="background-image: url(assets/img/thumb/learning-and-growth.jpg);"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Who We Area Area -->

<!-- Start About 
============================================= -->
<div class="about-style-ten-area bg-cover overflow-hidden bg-gray shadow dark default-padding text-light" style="background-image: url(assets/img/cyber/banner-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-style-ten">
                <div class="thumb">
                    <img src="assets/img/thumb/career-3.jpg" alt="Thumb">
                    <img src="assets/img/thumb/career-2.jpg" alt="Thumb">
                    <img src="assets/img/thumb/career-1.jpg" alt="Thumb">
                </div>
            </div>
            <div class="col-lg-6 about-style-ten">
                <div class="info">
                    <h5>EXPLORE CETOSOFT OPPORTUNITIES</h5>
                    <h2>We Prioritize Our People</h2>
                    <p>
                        Creating a proud and engaged workforce starts with valuing our employees. At Cetosoft, we have implemented initiatives to ensure we listen to our team members and help them reach their full potential. From efficient onboarding processes to extensive learning and development programs, we are committed to fostering the growth and intellectual development of our workforce.
                    </p>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="assets/img/illustration/5.png" alt="icon">
                            </div>
                            <div class="info">
                                <h4>Advanced Technology</h4>
                                <p>
                                    Leveraging the latest technology advancements to drive operational excellence and growth.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<!-- Start Works About 
============================================= -->
<div class="works-about-area overflow-hidden">
    <div class="container">
        <div class="works-about-items default-padding">
            <div class="row align-center">
                <div class="col-lg-6 info">
                    <h5>Discover More</h5>
                    <h2>Join Our Team</h2>
                    <p>
                        We're always on the lookout for talented individuals to join our dynamic team. Even if you don't see your ideal job listed, submit your resume, and our team will reach out to you when a suitable opening arises.
                    </p>
                    <ul>
                        <li>
                            <h5>Opportunities Await</h5>
                        </li>
                        <li>
                            <h5>Exciting Career Paths</h5>
                        </li>
                    </ul>
                    <a class="btn btn-theme effect btn-sm">Join Us Today</a>
                </div>
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="assets/img/thumb/join-us.jpg" alt="Thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Works About Area -->