    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <h2>Team Single</h2>
                </div>
                <div class="col-lg-6 text-right">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Team</a></li>
                        <li class="active">Single</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Team 
    ============================================= -->
    <div class="team-single-area default-padding">
        <div class="container">
            <div class="top-info">
                <div class="row align-center">
                    <div class="col-lg-5 thumb">
                        <img src="assets/img/800x900.png" alt="Thumb">
                    </div>
                    <div class="col-lg-7 content">
                        <h2>Mothan Jobie</h2>
                        <span>President & CEO</span>
                        <p>
                            Another journey chamber way yet females man. Way extensive and dejection get delivered deficient sincerity gentleman age. Too end instrument possession contrasted motionless. Calling offence six joy feeling. Coming merits and was talent. 
                        </p>
                        <div class="social">
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <ul class="basic-info">
                            <li>
                                <strong>Phone: </strong> <span>+123 4569008</span>
                            </li>
                            <li>
                                <strong>Email: </strong> <span>adminvalidthemescom</span>
                            </li>
                            <li>
                                <strong>Website: </strong> <span><a href="#">www.validthemes.com</a></span>
                            </li>
                            <li>
                                <strong>Experience: </strong> <span>12 Years</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-info">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>About Member</h2>
                        <p>
                            Securing as informed declared or margaret. Joy horrible moreover man feelings own shy. Request norland neither mistake for yet. Between the for morning assured country believe. On even feet time have an no at. Relation so in confined smallest children unpacked delicate. 
                        </p>
                    </div>
                    <div class="col-lg-6 about-area reverse">
                        <div class="info">
                            <div class="skill-items">
                                <!-- Progress Bar Start -->
                                <div class="progress-box">
                                    <h5>Software Development</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="88">
                                             <span>88%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Cyber Security</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="95">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Artificial Intelligence</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="80">
                                            <span>80%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Progressbar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team -->